<div *ngIf ="this.weatherapiService.current$ | async as current"class="container" [ngStyle] = "current.is_day ? {'background-color':'#0073e6'} : {'background-color': 'navy'}">
    <img *ngIf = "this.weatherapiService.condition$ | async as condition" [src]="condition.icon" width="100px" alt="weather icon">
    <h4 *ngIf = "this.weatherapiService.condition$ | async as condition">{{condition.text}}</h4>
    <h1 id = "temperature">{{current.temp_c | number: '1.0-0' }}° C</h1>
    <div class="location">
        <img id="location-icon" src="../../assets/location.svg" width="20px" alt="location icon">
        <h3 *ngIf = "this.weatherapiService.location$ | async as location">{{location.name}},{{location.country}}</h3>
    </div>
    <h4>Feels like: {{current.feelslike_c | number: '1.0-0' }}° C</h4>
    <h5>Last Updated: {{current.last_updated | date: 'shortTime'}}</h5>
</div>
