.search-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 77dvh;
    width: 35dvw;
    max-width:300px;
    padding: 25px;
    border-radius: 15px;
}
.results-container{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 22dvw;
}
.results-container > .card{
    cursor:  pointer;
}
.card{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 1em;
    text-align: center;
    width: 30dvw;
    max-width: 90%;
    height: 20px;
    border-radius: 15px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.card:hover{
    background-color: white;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.398),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.482);
}

input{
    background-color: transparent;
    border:none;
    width: 80%;
    margin-left:5px;
    height: 100%;
}
input:focus{
    border: none;
    outline: none;
}
.icons{
    height:18px;
    padding-left: 5px;
    padding-right: 5px;
}
#search-button{
    border: none;
    background-color: transparent;
}
.icons:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}
#current-location-card{
    font-size: 0.9em;
}
#current-location-card:hover{
    transform: scale(1.03,1.03);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .search-container{
        width: 100dvw;
        height: 95dvh;
        padding:0px;
        border-radius: 0;
        max-width: none;
    }
    .card{
        margin-top: 20px;
        align-self: center;
        width: 80dvw;
        margin-bottom: 20px;
    }

    .results-container{
        width: 80dvw;
    }
    .results-container > .card{
        width: 80dvw;
    }
}