<div *ngIf ="this.weatherapiService.current$ | async as current" class="container" [ngStyle] = "current.is_day ? {'background-color':'#0073e6'} : {'background-color': 'navy'}">
    <div class="card" tabIndex="1">
        <input type="text" placeholder="Enter Location" [(ngModel)] = 'searchTerm'>
        <button id="search-button" type = "submit" (click) = "searchLocation()"><img class = "icons" src="../../assets/search.png" alt="search"></button>
    </div>

    <div id ="current-location-card" class="card" role="button" tabindex="0" (click) = "updateLocation()" (keydown.enter) = "updateLocationKeyDown($event)">
        <img class = "icons" src="../../assets/gps.png" alt="gps"><p>Use Current Location</p>
    </div>
</div>
